#Upload data

In [1]:
from google.colab import drive 
drive.mount('/content/gdrive') 
%cd gdrive/ 
%cd MyDrive/

Mounted at /content/gdrive
/content/gdrive
/content/gdrive/MyDrive

In [2]:
import pandas as pd 
df= pd.read_csv('Cellphone1.csv') 
df.head()

   Churn  AccountWeeks  ContractRenewal  ...  MonthlyCharge  OverageFee  RoamMins
0      0           128                1  ...           89.0        9.87      10.0
1      0           107                1  ...           82.0        9.78      13.7
2      0           137                1  ...           52.0        6.06      12.2
3      0            84                0  ...           57.0        3.10       6.6
4      0            75                0  ...           41.0        7.42      10.1

[5 rows x 11 columns]

Calculating summary statistics of inputs

In [3]:
df.describe()

             Churn  AccountWeeks  ...   OverageFee     RoamMins
count  3333.000000   3333.000000  ...  3333.000000  3333.000000
mean      0.144914    101.064806  ...    10.051488    10.237294
std       0.352067     39.822106  ...     2.535712     2.791840
min       0.000000      1.000000  ...     0.000000     0.000000
25%       0.000000     74.000000  ...     8.330000     8.500000
50%       0.000000    101.000000  ...    10.070000    10.300000
75%       0.000000    127.000000  ...    11.770000    12.100000
max       1.000000    243.000000  ...    18.190000    20.000000

[8 rows x 11 columns]

**Call 6 classifiers libraries **

In [4]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier

Call classifiers performance metrics libraries

In [5]:
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import accuracy_score
from sklearn.inspection import permutation_importance
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report, precision_recall_curve
import numpy as np

**collecting all the input features**

In [6]:
df_feature = df.drop(['Churn'], axis=1)
df_feature.head()
df_feature.describe()

       AccountWeeks  ContractRenewal  ...   OverageFee     RoamMins
count   3333.000000      3333.000000  ...  3333.000000  3333.000000
mean     101.064806         0.903090  ...    10.051488    10.237294
std       39.822106         0.295879  ...     2.535712     2.791840
min        1.000000         0.000000  ...     0.000000     0.000000
25%       74.000000         1.000000  ...     8.330000     8.500000
50%      101.000000         1.000000  ...    10.070000    10.300000
75%      127.000000         1.000000  ...    11.770000    12.100000
max      243.000000         1.000000  ...    18.190000    20.000000

[8 rows x 10 columns]

In [7]:
df_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   AccountWeeks     3333 non-null   int64
 1   ContractRenewal  3333 non-null   int64
 2   DataPlan         3333 non-null   int64
 3   DataUsage        3333 non-null   float64
 4   CustServCalls    3333 non-null   int64
 5   DayMins          3333 non-null   float64
 6   DayCalls         3333 non-null   int64
 7   MonthlyCharge    3333 non-null   float64
 8   OverageFee       3333 non-null   float64
 9   RoamMins         3333 non-null   float64
dtypes: float64(5), int64(5)
memory usage: 260.5 KB

**Examining dependent (output) feature**

In [8]:
df_label = df['Churn']
df_label.head()

0    0
1    0
2    0
3    0
4    0
Name: Churn, dtype: int64

Calculating the summary statistics of output feature

In [9]:
df_label.describe()

count    3333.000000
mean        0.144914
std         0.352067
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Churn, dtype: float64

**Preparing train and test data**

In [11]:
X_train, X_test, y_train, y_test = train_test_split(df_feature, df_label, test_size=0.3)

**Finding the accuracy of RandomForest model **

In [12]:
model = RandomForestClassifier()
# fit the model
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy * 100)
print(classification_report(y_test,y_pred))

93.60000000000001
              precision    recall  f1-score   support

           0       0.94      0.98      0.96       850
           1       0.88      0.66      0.76       150

    accuracy                           0.94      1000
   macro avg       0.91      0.82      0.86      1000
weighted avg       0.93      0.94      0.93      1000

**Finding the importance of varibles per RandomForest model**

In [ ]:
model = RandomForestClassifier()
# fit the model
model.fit(X_train, y_train)
# get importance
importance = model.feature_importances_

# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.06748
Feature: 1, Score: 0.07309
Feature: 2, Score: 0.03565
Feature: 3, Score: 0.08116
Feature: 4, Score: 0.11525
Feature: 5, Score: 0.21562
Feature: 6, Score: 0.06400
Feature: 7, Score: 0.16208
Feature: 8, Score: 0.09979
Feature: 9, Score: 0.08588

**Finding the importance of varibles per XGB model**

In [85]:
model = XGBClassifier()
# fit the model
model.fit(X_train, y_train)
# get importance
importance = model.feature_importances_

# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.01978
Feature: 1, Score: 0.14385
Feature: 2, Score: 0.24827
Feature: 3, Score: 0.06982
Feature: 4, Score: 0.12537
Feature: 5, Score: 0.14030
Feature: 6, Score: 0.02443
Feature: 7, Score: 0.08981
Feature: 8, Score: 0.05960
Feature: 9, Score: 0.07878

**Finding the importance of varibles per DecisionTree & Logistic Regression model**

In [84]:
model = DecisionTreeClassifier()
# fit the model
model.fit(X_train, y_train)
# get importance
importance = model.feature_importances_

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy * 100)
print(classification_report(y_test,y_pred))

# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

89.1
              precision    recall  f1-score   support

           0       0.93      0.94      0.94       850
           1       0.65      0.59      0.62       150

    accuracy                           0.89      1000
   macro avg       0.79      0.77      0.78      1000
weighted avg       0.89      0.89      0.89      1000

Feature: 0, Score: 0.05505
Feature: 1, Score: 0.08433
Feature: 2, Score: 0.00175
Feature: 3, Score: 0.08005
Feature: 4, Score: 0.09771
Feature: 5, Score: 0.22540
Feature: 6, Score: 0.05016
Feature: 7, Score: 0.15430
Feature: 8, Score: 0.14270
Feature: 9, Score: 0.10855

In [79]:
model = LogisticRegression()
# fit the model
model.fit(X_train, y_train)
# get importance
importance = model.coef_[0]

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy * 100)
print(classification_report(y_test,y_pred))

# summarize feature importance
for i,v in enumerate(importance):
	print('Feature: %0d, Score: %.5f' % (i,v))

84.2
              precision    recall  f1-score   support

           0       0.86      0.96      0.91       850
           1       0.42      0.15      0.22       150

    accuracy                           0.84      1000
   macro avg       0.64      0.56      0.56      1000
weighted avg       0.80      0.84      0.81      1000

Feature: 0, Score: -0.00360
Feature: 1, Score: -2.43738
Feature: 2, Score: -0.18447
Feature: 3, Score: 0.02485
Feature: 4, Score: 0.38850
Feature: 5, Score: 0.01490
Feature: 6, Score: -0.00779
Feature: 7, Score: -0.03390
Feature: 8, Score: 0.08356
Feature: 9, Score: -0.02010

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Notice that the coefficients are both positive and negative. The positive scores indicate a feature that predicts class 1, whereas the negative scores indicate a feature that predicts class 0.

*Calculating the Confusion matrix

In [80]:
confusion_matrix(y_test, y_pred)

array([[820,  30],
       [128,  22]])

*Calculating the number of False Negative outcomes

In [82]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [83]:
tn, fp, fn, tp

(820, 30, 128, 22)